<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCros8_dh8NIEZOy62kp6XT44oMVc9sY8g</string>
	<key>GCM_SENDER_ID</key>
	<string>948486076423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookchallenge</string>
	<key>PROJECT_ID</key>
	<string>book-challenge-e1c4a</string>
	<key>STORAGE_BUCKET</key>
	<string>book-challenge-e1c4a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948486076423:ios:f6a9eae88d8c6ab6b212a2</string>
</dict>
</plist>